{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
@font-face {
    font-family: TR-909;
    src: url(../Font/TR-909.ttf);
}

.d-item{
    height: 400px;
}

.d-img{
    height: 100%;
    filter: brightness(0.6);
}

h1 {
    font-size: 15vw;
    font-family: 'TR-909', sans-serif;
    letter-spacing: 1em;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    text-align: center;
}

p {
    font-size: 1.5vw; /* Ajusta el tamaño de la fuente en relación con el ancho de la pantalla */
}
